h1{
    align-items: center;
    display: flex;
    justify-content: center;
}

.contenedor{
display: flex;
    flex-direction: column;
}
button{

    /* flex-direction: column-reverse; */
}
.botonesOpciones{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.mensajeError{
/* padding: 10px; */
background-color: #F45B69;
width: 176px;
    display: block;
    margin-top: 10px;
}
#contra{

    display: flex;
}